/* rooot colours and font */
:root {
  --dark: #1a1a1a;
  --light: #fff;
  --purple: #612B5B;
  --light-pink: #C7A8A7;
  --bright-green: #929432;
  --dark-green: #616E4C;
  --red: #943532;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--dark);
}

.text-dark-green-custom {
  color: var(--dark-green);
}

/*mobile first - html and body*/

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* opening page transition */
  opacity: 0;
  transition: opacity 0.5s;
}

/* containers and columns */
.container-custom {
  text-align: center;
}

.contact-container {
  min-height: 80%;
  position: relative;
  margin: 0 auto;
}

.col-custom {
  /* transition when resizing */
  transition: flex-basis 500ms linear;
}

/* navbar */
.navbar-expand-md {
  background: var(--light);
}

.navbar-light-custom {
  background-color: var(--light);
}

/* backgrounds */
.bg-light-custom {
  background-color: var(--light);
}

.bg-light-pink-custom {
  background-color: var(--light-pink);
}

.bg-dark-green-custom {
  background-color: var(--dark-green);
}

/* images and icons */
img#corporate-img {
  border-radius: 50%;
  z-index: 5;
  max-width: 60%;
  /* transition when resizing */
  transition: all 0.5s ease-in-out;
}

i {
  font-size: 1.6em;
  color: var(--dark-green);
  /* transition when resizing */
  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 9;
  left: 50%; 
  transform: translate(-50%, 0); 
}

.bi:hover {
  color: var(--red);
  font-size: 3.4rem;
}

.img-size {
  margin: auto;
  max-width: 80%;
  object-fit: contain;
}

footer i {
  font-size: 3rem;
  overflow: hidden;
}

/* cards */
.section-project-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2rem auto;
  width: 90%;
  transition: flex-basis 1s linear;
}

.card-title-custom {
  color: var(--red);
}

.card-text a {
  color: var(--red);
  text-decoration: none;
}

.card-text a:hover {
  color: var(--light);
  background-color: var(--red);
  font-weight: 500;
}

.card-text a:focus {
  color: var(--light);
  background-color: var(--red);
  font-weight: 500;
}

/* links and buttons */
.link-primary-custom {
  color: var(--red);
}

.link-primary-custom:hover {
  color: var(--dark-green);
}

.link-primary-custom:focus {
  color: var(--dark-green);
}

.btn.btn-primary-custom {
  background-color: var(--red);
  color: var(--light);
}

.btn.btn-primary-custom:focus {
  background-color: var(--dark-green);
  border-color: var(--bright-green);
  box-shadow: 0 0 0 0.25rem rgb(69 92 122 / 50%);
}

.btn.btn-primary-custom:hover {
  background-color: var(--dark-green);
  border-color: var(--bright-green);
  box-shadow: 0 0 0 0.25rem rgb(69 92 122 / 50%);
}

.btn.btn-secondary-custom {
  background-color: var(--dark-green);
  color: var(--light);
  z-index: 9;
}

.btn.btn-secondary-custom:focus {
  background-color: var(--red);
  border-color: var(--bright-green);
  box-shadow: 0 0 0 0.25rem rgb(150 166 31 / 50%);
  transition: all 0.5s ease-in-out;
}

.btn.btn-secondary-custom:hover {
  background-color: var(--red);
  border-color: var(--bright-green);
  box-shadow: 0 0 0 0.25rem rgb(150 166 31 / 50%);
  transition: all 0.5s ease-in-out;
}

#download-resume:focus {
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}

#download-resume:hover {
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}

#contact-page-link {
  cursor: pointer;
}

/* animation */
#bubbles {
  height: 100%;
  padding: 100px 0;
  overflow: hidden;
}

.bubble {
  width: 60px;
  height: 60px;
  border-radius: 200px;
  position: absolute;
  overflow: hidden;
}

.x1 {
  left: 25%;
  bottom: 1%;
  transform: scale(4);
  opacity: 0.1;
  background: var(--red);
  z-index: -1;
  animation: moveclouds 21s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.x2 {
  left: 50%;
  bottom: 1%;
  transform: scale(3);
  opacity: 0.1;
  background: var(--purple);
  z-index: -1;
  animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.x3 {
  left: 75%;
  bottom: 1%;
  transform: scale(2);
  opacity: 0.1;
  background: var(--bright-green);
  z-index: -1;
  animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

@keyframes moveclouds {
  0% {
    top: 1500px;
    left: 25%;
    margin-left: 0;
  }
  100% {
    left: calc(25% + 50px);
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 80px;
  }
}

/* sm layout */
@media (min-width: 576px) {
  img#corporate-img {
    border-radius: 50%;
    z-index: 5;
    max-width: 80%;
  }

  i {
    font-size: 2em;
  }

  .card-text{
    font-size: 0.8rem;
  }

  /* animation*/
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 240px;
    }
  }
}

/* md layout */
@media (min-width: 768px) {

  img#corporate-img {
    border-radius: 50%;
    z-index: 5;
    max-width: 60%;
  }

  .h2-align {
    margin-left: -8px;
  }

  .card-text{
    font-size: 1rem;
  }

  /* animation*/
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 360px;
    }
  }
}

/* lg layout */
@media (min-width: 992px) {

  .card-text{
    font-size: 1rem;
  }

  /* animation */
  .x1 {
    left: calc(80% + 100px);
    transform: scale(7);
    animation: moveclouds 98s linear infinite,
      sideWays 14s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
  }

  .x2 {
    transform: scale(5);
    opacity: 0.1;
    animation: moveclouds 40s linear infinite,
      sideWays 16s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
  }

  .x3 {
    transform: scale(3);
    animation: moveclouds 50s linear infinite,
      sideWays 10s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 420px;
    }
  }
}

/* xl layout */
@media (min-width: 1200px) {
  .icons {
    display: none;
  }

  .contact-icon {
    font-size: 4 em;
  }

  /* animation */
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 560px;
    }
  }
}

@media (min-width: 1400px) {
  img#corporate-img {
    border-radius: 50%;
    z-index: 5;
    max-width: 40%;
  }

/* animation */
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 800px;
    }
  }
}
